.main {
    height: 100%;
}

.leftpanel {
    border-right: 1px solid black;
    width: 15rem;
    background-color: #2A2B2F;
    color: white;
    padding-left: 2rem;
    padding-top: 1rem;
    height: 100%;
    padding-top: 3rem;
}

.product-header {
    color: #a66;
    margin-bottom: 1rem;
}

.leftpanel a {
    display: block;
    width: 70%;
    border: 1px solid rgba( 255, 255, 255, 0.25 );
    border-radius: 3px;
    padding: 5px;
    margin-top: 1rem;
    text-align: center;
    line-height: 24px;
}

.leftpanel a, .leftpanel a:hover, .leftpanel a:visited {
    color: white;
}

.rightpanel {
    background-color: #eee;
    padding-top: 2rem;
    padding-left: 1rem;
    height: 100%;
    position: fixed;
    left: 15rem;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: auto;
}