<div class="articlesview">
    <h3>List of articles </h3>
    <table>
        <tr *ngFor="#article of articles">
            <td>{{article.title}}</td>
            <td width="80px">
                <input type="button" class="btn btn-primary"
                    value="View" (click)="viewArticle(article)">
            </td>
            <td width="80px">
                <input type="button" class="btn btn-danger"
                    value="Delete article" (click)="deleteArticle(article)">
            </td>
        </tr>
    </table>
    <div *ngIf="!articles">
        No more article. Well done!
    </div>
</div>
<hr>
<div class="newarticleview">
    <h3>Add new article</h3>
    <input type="text" class="form-control" placeholder="Article title" [(ngModel)]="newArticle.title">
    <div><textarea class="form-control" [(ngModel)]="newArticle.text" placeholder="Article contents"></textarea>
    <div><input class="btn btn-primary" value="Add text" (click)="addArticle()"></div>
</div>