.articlesview, .newarticleview {
    padding-right: 10rem;
}

table {
    width: 100%;
}

td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.newarticleview input, .newarticleview textarea {
    margin-top: 0.4rem;
}

.newarticleview textarea {
    height: 10rem;
}